asgiref==3.3.1
beautifulsoup4==4.9.3
Django==3.1.9
django-bootstrap4==2.3.1
django-stronghold==0.4.0
djangorestframework==3.12.2
importlib-metadata==2.1.1
Jinja2==2.11.2
MarkupSafe==1.1.1
pkg-resources==0.0.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
pytz==2020.4
soupsieve==2.0.1
sqlparse==0.4.1
zipp==3.4.0
