{% extends 'bootstrap4/bootstrap4.html' %}

{% load bootstrap4 %}

{% block bootstrap4_title %}{% block title %}Login{% endblock %}{% endblock %}

{% block bootstrap4_content %}

 <div class="container-fluid">
  <h1>Login</h1>
  <hr>
  <div id="login-box">
    <table>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <tr><th>&nbsp;</th><th><button type="submit">Login</button></th></tr>
        {% endbuttons %}
      </form>
    </table>
  </div>
 </div>

{% endblock %}
