{% extends 'op_webgui/base.html' %}

{% load bootstrap4 %}

{% block bootstrap4_title %}{% block title %}ASN List{% endblock %}{% endblock %}

{% block content %}

    <p>
    <span align="right"><a href="{% url 'op_webgui:aut_num_create' %}" class="btn btn-success">Add ASN</a></span>
    {% if asn_list %}
        <p>&nbsp;
        <table class="table table-hover">
            <tr>
                <th>&nbsp;</th>
                <th>ASN</th>
                <th>Name</th>
                <th>Contact</th>
            </tr>
        {% for asn in asn_list %}
            <tr>
                <td><a href="{% url 'op_webgui:aut_num_edit' asn.id %}" class="btn btn-outline-primary btn-sm">edit</a></td>
                <td><a href="{% url 'op_webgui:aut_num_detail' asn.id %}">{{ asn.asn }}</a></td>
                <td>{{ asn.name }}</td>
                <td>{{ asn.contact }}</td>
            </tr>
        {% endfor %}
        </table>
        {% if asn_list.has_previous or asn_list.has_next %}
            {% bootstrap_pagination asn_list %}
        {% endif %}
    {% else %}
        <p>No ASNs ¯\_(ツ)_/¯</p>
    {% endif %}

{% endblock %}
