{% extends 'op_webgui/base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}{% block title %}Router List{% endblock %}{% endblock %}

{% block content %}

    {% if router_list %}
        <p>&nbsp;<span align="right"><a href="{% url 'op_webgui:router_create' %}" class="btn btn-success">Add Router</a></span>
        <table class="table table-hover">
            <tr>
                <th>configuration</th>
                <th>Hostname</th>
            </tr>
        {% for router in router_list %}
            <tr>
                <td><a href="{% url 'op_webgui:router_config' router.id %}" class="btn btn-default btn-xs">config</a></td>
                <td><a href="{% url 'op_webgui:router_detail' router.id %}">{{ router.hostname }}</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>
        No routers ¯\_(ツ)_/¯
    {% endif %}

{% endblock %}
