{% extends 'op_webgui/base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}{% block title %}Router {{ router.hostname }}{% endblock %}{% endblock %}

{% block content %}

  <br />
  <a href="{% url 'op_webgui:router_edit' router.id %}" class="btn btn-default btn-sm">Edit</a>
  <a href="{% url 'op_webgui:ipv6_static_create' router.id %}" class="btn btn-success btn-sm">Add IPv6 Static Route</a>
  <a href="{% url 'op_webgui:ipv4_static_create' router.id %}" class="btn btn-success btn-sm">Add IPv4 Static Route</a>
  <a href="{% url 'op_webgui:neighbor_create' router.id %}" class="btn btn-success btn-sm">Add BGP Neighbor</a>
  <a href="{% url 'op_webgui:interface_create' router.id %}" class="btn btn-success btn-sm">Add Interface</a>
  <a href="{% url 'op_webgui:ipv4_address_create' router.id %}" class="btn btn-success btn-sm">Add IPv4 Address</a>
  <hr />

  <h3>Router Details</h3>

  <ul>
    <li><b>Router ID:</b> {{ router.routing_id }}</li>
    <li><b>ASN:</b> {{ router.local_aut_num.asn }}</li>
    <li><b>Network OS:</b> {{ router.network_os }}</li>
    <li><b>iBGP Enabled:</b> {{ router.ibgp }}</li>
    <li><b>SSH Enabled:</b> {{ router.service_ssh }}</li>
    <li><b>NETCONF Enabled:</b> {{ router.service_netconf }}</li>
  </ul>

  <h3>BGP Neighbors</h3>

  <ul>
  {% for neighbor in router.neighbor_set.all %}
    <li>
      <a href="{% url 'op_webgui:neighbor_edit' neighbor.id %}" class="btn btn-default btn-xs">
      {{ neighbor.peer_ip }} - {{ neighbor.aut_num }}
      </a>
    </li>
  {% endfor %}
  </ul>

  <h3>Interfaces and IPs</h3>

  <ul>
  {% for interface in router.interface_set.all %}
    <li><hr />
    <a href="{% url 'op_webgui:interface_edit' interface.id %}" class="btn btn-default btn-xs">
    edit
    </a>
    <a href="{% url 'op_webgui:logical_interface_create' interface.id %}" class="btn btn-success btn-xs">
    Add Sub-interface
    </a>
    <b>Interface:</b> {{ interface.name }} ({{ interface.description }})
    </li><br />
    <ul>
      {% for logical_interface in interface.logical_interface_set.all %}
      <li>
        Sub-interface {{ logical_interface.name }}
        ({{ logical_interface.description }}) <br />
        <a href="{% url 'op_webgui:logical_interface_edit' logical_interface.id %}" class="btn btn-default btn-xs">
        edit sub-interface {{ logical_interface.name }}
        </a>
        <a href="{% url 'op_webgui:ipv6_address_create' logical_interface.id %}" class="btn btn-success btn-xs">
        Add IPv6 Address
        </a>
        <a href="{% url 'op_webgui:ipv4_address_create' logical_interface.id %}" class="btn btn-success btn-xs">
        Add IPv4 Address
        </a>
      </li><br />
      <ul>
      {% for ipv4_address in logical_interface.ipv4_address_set.all %}
         <li>
           <a href="{% url 'op_webgui:ipv4_address_edit' ipv4_address.id %}" class="btn btn-default btn-xs">
           {{ ipv4_address.host }}/{{ ipv4_address.cidr }}
           </a>
         </li>
      {% endfor %}
      </ul>
      <ul>
      {% for ipv6_address in logical_interface.ipv6_address_set.all %}
         <li>
           <a href="{% url 'op_webgui:ipv6_address_edit' ipv6_address.id %}" class="btn btn-default btn-xs">
           {{ ipv6_address.host }}/{{ ipv6_address.cidr }}
           </a>
         </li>
      {% endfor %}
      </ul><br />
    {% endfor %}
    </ul>
  {% endfor %}
  </ul>

  <h3>Static Routes</h3>

  <ul>
  {% for ipv6_static in router.ipv6_static_set.all %}
    <li>
      <a href="{% url 'op_webgui:ipv6_static_edit' ipv6_static.id %}" class="btn btn-default btn-xs">
      {{ ipv6_static.network }}/{{ ipv6_static.cidr }} next-hop {{ ipv6_static.next_hop }}
      </a>
    </li>
  {% endfor %}
  </ul>

  <ul>
  {% for ipv4_static in router.ipv4_static_set.all %}
    <li>
      <a href="{% url 'op_webgui:ipv4_static_edit' ipv4_static.id %}" class="btn btn-default btn-xs">
      {{ ipv4_static.network }}/{{ ipv4_static.cidr }} next-hop {{ ipv4_static.next_hop }}
      </a>
    </li>
  {% endfor %}
  </ul>

{% endblock %}
