{% extends 'op_webgui/base.html' %}

{% load bootstrap4 %}

{% block bootstrap4_title %}{% block title %}AS {{ aut_num.asn }}{% endblock %}{% endblock %}

{% block content %}

  <br /><a href="{% url 'op_webgui:aut_num_edit' aut_num.id %}" class="btn btn-outline-primary">Edit</a><hr />

  <ul class="list-group col-4">
    <li class="list-group-item"><b>Name:</b> {{ aut_num.name }}</li>
    <li class="list-group-item"><b>Contact:</b> {{ aut_num.contact }}</li>
  </ul>

  <ul>
  {% for neighbor in aut_num.neighbor_set.all %}
    <li>{{ neighbor.peer_ip }} - {{ neighbor.router.hostname }}</li>
  {% endfor %}
  </ul>

{% endblock %}
