# /etc/bird/bird.conf

router id {{ router.routing_id }}; 

# Device status
protocol device {
  scan time 10; # recheck every 10 seconds
}

protocol direct {
  interface "lo*";
}

# local configuration
######################

log "/var/log/bird/daemon" all;

define OWNAS = {{ router.local_aut_num.asn }};
define OWNIP = {{ router.routing_id }};

function bogon() {
  return net ~ [
    0.0.0.0/8+,
    10.0.0.0/8+,
    100.64.0.0/10+,
    127.0.0.0/8+,
    169.254.0.0/16+,
    172.16.0.0/12+,
    192.0.0.0/24+,
    192.0.2.0/24+,
    192.168.0.0/16+,
    198.18.0.0/15+,
    198.51.100.0/24+,
    203.0.113.0/24+
  ];
}

protocol kernel {
  scan time 20;
  device routes;
  import none;
  export filter {
    krt_prefsrc = OWNIP;
    accept;
  };
};

{% if router.ipv4_static_set.all or router.ipv6_static_set.all %}
protocol static { {% for ipv4_static in router.ipv4_static_set.all %}
  route {{ ipv4_static.network }}/{{ ipv4_static.cidr }} via {{ ipv4_static.next_hop }}; {% endfor %} {% for ipv6_static in router.ipv6_static_set.all %}
  route {{ ipv6_static.network }}/{{ ipv6_static.cidr }} via {{ ipv6_static.next_hop }}; {% endfor %}
} {% endif %}

template bgp external {
  local as OWNAS;
  path metric 1;
  import keep filtered;
  import filter {
    if bogon() then {
      reject;
    }
    accept;
  };
  export filter {
    if bogon() then {
      reject;
    }
    accept;
  };
  route limit 10000;
};

template bgp ibgp {
  local as OWNAS;
  path metric 1;
  route limit 10000;
  source address OWNIP;
  gateway recursive;
  next hop self;
  import filter {
    if net != 172.22.150.126/32 then {
      accept;
    }
  };
  export filter {
    accept;
  };
};

{% for router in router_list %}
protocol bgp {{ router.hostname }} from ibgp {
  neighbor {{ router.routing_id }} as 4242420031;
};
{% endfor %}
{% for neighbor in router.neighbor_set.all %}
protocol bgp {{ neighbor.aut_num.name }}_{{ neighbor.peer_ip }} from dnpeers {
  neighbor {{ neighbor.peer_ip }} as {{ neighbor.aut_num.asn }};
};
{% endfor %}

