system {
    host-name {{ router.hostname }};
}
services { {% if router.service_ssh %}
    ssh {
        protocol-version v2;
    } {% endif %} {% if router.service_netconf %}
    netconf {
        ssh;
    } {% endif %}
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 64;
        }
    }
} {% if router.interface_set.all %}
interfaces { {% for interface in router.interface_set.all %}
    {{ interface.name }} { 
        description "{{ interface.description }}"; {% if interface.dot1q %}
        vlan-tagging; {% endif %} {% for logical_interface in interface.logical_interface_set.all %}
        unit {{ logical_interface.name }} {
            description "{{ logical_interface.description }}"; {% if logical_interface.vlan %}
            vlan-id {{ logical_interface.vlan }}; {% endif %} {% if logical_interface.inet_dhcp_client %} 
            family inet {
                dhcp-client;
            } {% elif logical_interface.ipv4_address_set.all %}
            family inet { {% for ipv4_address in logical_interface.ipv4_address_set.all %}
                address {{ ipv4_address }}; {% endfor %} 
            } {% endif %} {% if logical_interface.inet6_dhcp_client %}
            family inet6 {
                dhcpv6-client {
                    client-type statefull;
                    client-ia-type ia-pd;
                    client-ia-type ia-na;
                    client-identifier duid-type duid-ll;
                    update-server;
                    retransmission-attempt 6;
                }
            } {% elif logical_interface.ipv6_address_set.all %}
            family inet6 { {% for ipv6_address in logical_interface.ipv6_address_set.all %}
                address {{ ipv6_address }}; {% endfor %}
            } {% endif %}
        } {% endfor %}
    } {% endfor %}
} {% endif %}
routing-options { {% if router.ipv6_static_set.all %}
    rib inet6.0 {
        static { {% for ipv6_static in router.ipv6_static_set.all %}
            route {{ ipv6_static.network }}/{{ ipv6_static.cidr }} next-hop {{ ipv6_static.next_hop }}; {% endfor %}
        }
    } {% endif %} {% if router.ipv4_static_set.all %}
    static { {% for ipv4_static in router.ipv4_static_set.all %}
        route {{ ipv4_static.network }}/{{ ipv4_static.cidr }} next-hop {{ ipv4_static.next_hop }}; {% endfor %}
    } {% endif %}
    router-id {{ router.routing_id }};
    autonomous-system {{ router.local_aut_num.asn }};
} {% if router.ibgp or router.neighbor_set.all or router.interface_set.all %}
protocols { {% if router.ibgp or router.neighbor_set.all %}
    bgp { {% if router.ibgp %}
        group ibgp {
            type internal;
            description "iBGP Neighbors Group, for all peers of the ASN!";
            local-address {{ router.routing_id }}; {% for router in router_list %}
            neighbor {{ router.routing_id }}; {% endfor %}
        } {% endif %} {% regroup router.neighbor_set.all by aut_num as asn_list %} {% for asn in asn_list %}
        group {{ asn.grouper.name|slugify }} {
            type external;
            peer-as {{ asn.grouper.asn }}; {% for neighbor in asn.list %}
            neighbor {{ neighbor.peer_ip }}; {% endfor %}
        } {% endfor %}
    } {% endif %} {% if router.interface_set.all %}
    ldp { {% for interface in router.interface_set.all %} {% for logical_interface in interface.logical_interface_set.all %} {% if logical_interface.ldp %}
        interface {{ interface.name }}.{{ logical_interface.name }}; {% endif %} {% endfor %} {% endfor %}
    } {% endif %}
} {% endif %}
