{% extends 'op_webgui/base.html' %}

{% load bootstrap4 %}

{% block bootstrap4_title %}{% block title %}Router {{ router.hostname }}{% endblock %}{% endblock %}

{% block content %}

  <br />
  <a href="{% url 'netdevice:router_config' router.id %}" class="btn btn-outline-primary">Config</a>
  <a href="{% url 'netdevice:router_edit' router.id %}" class="btn btn-outline-primary">Edit</a>
  <a href="{% url 'static:ipv6_static_create' router.id %}" class="btn btn-success">Add IPv6 Static Route</a>
  <a href="{% url 'static:ipv4_static_create' router.id %}" class="btn btn-success">Add IPv4 Static Route</a>
  <a href="{% url 'bgp:neighbor_create' router.id %}" class="btn btn-success">Add BGP Neighbor</a>
  <a href="{% url 'netdevice:interface_create' router.id %}" class="btn btn-success">Add Interface</a>
  <hr />

  <div class="col-5 align-self-start">
  <h3>Router Details</h3><br />

  <ul class="list-group">
    <li class="list-group-item"><b>Router ID:</b> {{ router.routing_id }}</li>
    <li class="list-group-item"><b>ASN:</b> {{ router.local_aut_num.asn }}</li>
    <li class="list-group-item"><b>Network OS:</b> {{ router.network_os }}</li>
    <li class="list-group-item"><b>iBGP Enabled:</b> {{ router.ibgp }}</li>
    <li class="list-group-item"><b>SSH Enabled:</b> {{ router.service_ssh }}</li>
    <li class="list-group-item"><b>NETCONF Enabled:</b> {{ router.service_netconf }}</li>
  </ul><br />

  <h3>BGP Neighbors</h3>

  <div class="list-group">
  {% for neighbor in router.neighbor_set.all %}
    <a href="{% url 'bgp:neighbor_edit' neighbor.id %}"
       class="list-group-item list-group-item-action">
    {{ neighbor.peer_ip }} - {{ neighbor.aut_num }}
    </a>
  {% endfor %}
  </div><br />

  <h3>Interfaces and IPs</h3>

  {% for interface in router.interface_set.all %}
    <hr />
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <a href="{% url 'netdevice:interface_edit' interface.id %}" class="btn btn-outline-primary">
      {{ interface.name }} ({{ interface.description }})
      </a>
      <a href="{% url 'netdevice:logical_interface_create' interface.id %}" class="btn btn-success">
      Add Sub-interface
      </a>
    </div><br /><br />
    <ul>
    {% for logical_interface in interface.logical_interface_set.all %}
      <li><div class="btn-group mr-2" role="group" aria-label="First group">
        <a href="{% url 'netdevice:logical_interface_edit' logical_interface.id %}" class="btn btn-outline-primary btn-sm">
        {{ interface.name }}.{{ logical_interface.name }} ({{ logical_interface.description }})
        </a>
        <a href="{% url 'address:ipv6_address_create' logical_interface.id %}" class="btn btn-success btn-sm">
        Add IPv6
        </a>
        {% if logical_interface.inet6_dhcp_client %}
          <button type="button" class="btn">DHCP</button>
        {% else %}
          {% for ipv6_address in logical_interface.ipv6_address_set.all %}
             <a href="{% url 'address:ipv6_address_edit' ipv6_address.id %}" class="btn btn-outline-primary">
             {{ ipv6_address.host }}/{{ ipv6_address.cidr }}
             </a>
          {% endfor %}
        {% endif %}
        <a href="{% url 'address:ipv4_address_create' logical_interface.id %}" class="btn btn-success btn-sm">
        Add IPv4
        </a>
        {% if logical_interface.inet_dhcp_client %}
          <button type="button" class="btn">DHCP</button>
        {% else %}
          {% for ipv4_address in logical_interface.ipv4_address_set.all %}
             <a href="{% url 'address:ipv4_address_edit' ipv4_address.id %}" class="btn btn-outline-primary">
             {{ ipv4_address.host }}/{{ ipv4_address.cidr }}
             </a>
          {% endfor %}
         {% endif %}
      </div></li><br />
    {% endfor %}
    </ul>
  {% endfor %}
  <hr />

  <h3>Static Routes</h3>

  <div class="list-group">
  {% for ipv6_static in router.ipv6_static_set.all %}
    <a href="{% url 'static:ipv6_static_edit' ipv6_static.id %}"
       class="list-group-item list-group-item-action">
    {{ ipv6_static.network }}/{{ ipv6_static.cidr }} next-hop {{ ipv6_static.next_hop }}
    </a>
  {% endfor %}
  {% for ipv4_static in router.ipv4_static_set.all %}
    <a href="{% url 'static:ipv4_static_edit' ipv4_static.id %}"
       class="list-group-item list-group-item-action">
    {{ ipv4_static.network }}/{{ ipv4_static.cidr }} next-hop {{ ipv4_static.next_hop }}
    </a>
  {% endfor %}
  </div><br /><!-- static ipv4 div -->
  </div><!-- main container div -->

{% endblock %}
